html {
  background-color: #313131;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  color: #e7e7e7;
  font-family: "Oswald", sans-serif;
}

.App {
  text-align: center;
  margin-top: 1vh;
}

.head-text {
  color: #e7e7e7;
  margin-top: 0px;
}

.container {
  background-color: #282828;
  padding-top: 2vh;
  padding-bottom: 3vh;
  box-shadow: 0px 0px 19px 9px rgba(0, 0, 0, 0.85);
  margin-bottom: 5vh;
  width: 60vw;
}

.admin-container {
  background-color: #1b1b1b;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.lotteries-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 60vw;
  padding-bottom: 17px;
}

.lottery-container {
  padding: 10px;
  border: #e7e7e7 1.5px solid;
  padding-bottom: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.FaMoneyBillAlt {
  margin-right: 4px;
  margin-top: 4px;
}

.lottery-text {
  color: #e7e7e7;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
}

.lottery-name {
  font-size: 26px;
  margin-bottom: 3px;
}

.lottery-money {
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.icon {
  width: 15vh;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  margin-bottom: 25px;
  margin-top: 5px;
}

.btn {
  cursor: pointer;
  margin-left: 40px;
  margin-right: 40px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  text-decoration: none;
  border-radius: 0px;
  letter-spacing: 3px;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -ms-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
  padding: 7px 14px;
  font-size: 12px;
  line-height: 25px;
  text-transform: uppercase;
  border: solid 2px #fff;
  background: transparent;
  color: #fff;
}

.btn:hover {
  background: #fff;
  color: #1f1f1f;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.end-lottery-btn {
  margin-top: 15px;
  border: solid 2px rgb(199, 43, 43);
  color: rgb(199, 43, 43);
}

.end-lottery-btn:hover {
  background: rgb(199, 43, 43);
  color: #1f1f1f;
}

.lottery-name-input {
  max-width: 10vw;
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 16px;
  color: #fff;
  padding: 7px 5px;
  background: transparent;
  transition: border-color 0.2s;
  margin-bottom: 15px;
  text-align: center;
}

.lottery-name-input:focus {
  border-image: linear-gradient(to right, #11998e, #38ef7d);
  border-image-slice: 1;
  transition: 0.2s;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
